body {
  background: lightgray;

}

.event {
  width: 25%;
  display: inline-block;
  min-width: 200px;
  border: 2px solid gray;
}

nav#main-nav {
  color:white;
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#main-nav a {
color:white;

}
